.mediaViewInfo {
    --web-view-name: About Us;
    --web-view-id: About_Us;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: About_Us;
}
* {
    margin: 0;
    padding: 0;
}
#About_Us {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    --web-view-name: About Us;
    --web-view-id: About_Us;
    --web-enable-deep-linking: true;
}
#Rectangle_1 {
    opacity: 0.545;
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
}
#Polygon_1 {
    opacity: 0.402;
}
.Polygon_1 {
    overflow: visible;
    position: absolute;
    top: 571px;
    left: 35px;
    width: 229px;
    height: 164px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
    opacity: 0.402;
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 102px;
    height: 345px;
    left: 96px;
    top: 735px;
}
#Polygon_2 {
    opacity: 0.402;
}
.Polygon_2 {
    overflow: visible;
    position: absolute;
    top: 640px;
    left: 139px;
    width: 21px;
    height: 1px;
    transform: matrix(1,0,0,1,0,0);
}
#Polygon_3 {
    opacity: 0.402;
}
.Polygon_3 {
    overflow: visible;
    position: absolute;
    top: 469px;
    left: 180px;
    width: 232px;
    height: 181px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3 {
    opacity: 0.402;
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 107px;
    height: 430px;
    left: 242px;
    top: 650px;
}
#Ellipse_1 {
    opacity: 0.545;
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 284px;
    height: 273px;
    left: 305px;
    top: 109px;
}
#Rectangle_20 {
    opacity: 0.402;
}
.Rectangle_20 {
    position: absolute;
    overflow: visible;
    width: 129px;
    height: 260px;
    left: 157px;
    top: 820px;
}
#Polygon_9 {
    opacity: 0.402;
}
.Polygon_9 {
    overflow: visible;
    position: absolute;
    top: 604px;
    left: 511px;
    width: 213px;
    height: 182px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_21 {
    opacity: 0.402;
}
.Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 106px;
    height: 294px;
    left: 564px;
    top: 786px;
}
#Rectangle_6 {
    opacity: 0.402;
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 114px;
    height: 203px;
    left: 414px;
    top: 877px;
}
#Rectangle_23 {
    opacity: 0.402;
}
.Rectangle_23 {
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 80px;
    left: 486px;
    top: 1000px;
}
#Rectangle_25 {
    opacity: 0.402;
}
.Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 102px;
    height: 438px;
    left: 809px;
    top: 642px;
}
#Rectangle_22 {
    opacity: 0.402;
}
.Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 109px;
    height: 175px;
    left: 660px;
    top: 905px;
}
#Rectangle_26 {
    opacity: 0.402;
}
.Rectangle_26 {
    position: absolute;
    overflow: visible;
    width: 79px;
    height: 92px;
    left: 768px;
    top: 988px;
}
#Polygon_17 {
    opacity: 0.402;
}
.Polygon_17 {
    overflow: visible;
    position: absolute;
    top: 656px;
    left: 1071px;
    width: 21px;
    height: 1px;
    transform: matrix(1,0,0,1,0,0);
}
#Polygon_18 {
    opacity: 0.402;
}
.Polygon_18 {
    overflow: visible;
    position: absolute;
    top: 440px;
    left: 744px;
    width: 233px;
    height: 201px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_27 {
    opacity: 0.402;
}
.Rectangle_27 {
    position: absolute;
    overflow: visible;
    width: 29px;
    height: 24px;
    left: 184px;
    top: 861px;
}
#Rectangle_28 {
    opacity: 0.402;
}
.Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 29px;
    height: 29px;
    left: 234px;
    top: 919px;
}
#Rectangle_29 {
    opacity: 0.402;
}
.Rectangle_29 {
    position: absolute;
    overflow: visible;
    width: 29px;
    height: 23px;
    left: 186px;
    top: 967px;
}
#Rectangle_30 {
    opacity: 0.402;
}
.Rectangle_30 {
    position: absolute;
    overflow: visible;
    width: 17px;
    height: 16px;
    left: 498px;
    top: 1024px;
}
#Rectangle_31 {
    opacity: 0.402;
}
.Rectangle_31 {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 18px;
    left: 539px;
    top: 1047px;
}
#Rectangle_32 {
    opacity: 0.402;
}
.Rectangle_32 {
    position: absolute;
    overflow: visible;
    width: 29px;
    height: 24px;
    left: 234px;
    top: 861px;
}
#Rectangle_33 {
    opacity: 0.402;
}
.Rectangle_33 {
    position: absolute;
    overflow: visible;
    width: 18px;
    height: 16px;
    left: 539px;
    top: 1017px;
}
#Rectangle_34 {
    opacity: 0.402;
}
.Rectangle_34 {
    position: absolute;
    overflow: visible;
    width: 29px;
    height: 29px;
    left: 432px;
    top: 911px;
}
#Rectangle_35 {
    opacity: 0.402;
}
.Rectangle_35 {
    position: absolute;
    overflow: visible;
    width: 29px;
    height: 29px;
    left: 486px;
    top: 948px;
}
#Rectangle_36 {
    opacity: 0.402;
}
.Rectangle_36 {
    position: absolute;
    overflow: visible;
    width: 29px;
    height: 29px;
    left: 433px;
    top: 1018px;
}
#Rectangle_37 {
    opacity: 0.402;
}
.Rectangle_37 {
    position: absolute;
    overflow: visible;
    width: 88px;
    height: 118px;
    left: 296px;
    top: 962px;
}
#Rectangle_38 {
    opacity: 0.402;
}
.Rectangle_38 {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 19px;
    left: 314px;
    top: 990px;
}
#Rectangle_39 {
    opacity: 0.402;
}
.Rectangle_39 {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 22px;
    left: 349px;
    top: 1018px;
}
#Rectangle_40 {
    opacity: 0.402;
}
.Rectangle_40 {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 16px;
    left: 314px;
    top: 1024px;
}
#Rectangle_41 {
    opacity: 0.402;
}
.Rectangle_41 {
    position: absolute;
    overflow: visible;
    width: 22px;
    height: 23px;
    left: 683px;
    top: 940px;
}
#Rectangle_42 {
    opacity: 0.402;
}
.Rectangle_42 {
    position: absolute;
    overflow: visible;
    width: 22px;
    height: 23px;
    left: 731px;
    top: 1018px;
}
#Rectangle_43 {
    opacity: 0.402;
}
.Rectangle_43 {
    position: absolute;
    overflow: visible;
    width: 22px;
    height: 23px;
    left: 685px;
    top: 1017px;
}
#Rectangle_44 {
    opacity: 0.402;
}
.Rectangle_44 {
    position: absolute;
    overflow: visible;
    width: 22px;
    height: 23px;
    left: 731px;
    top: 977px;
}
#Rectangle_45 {
    opacity: 0.402;
}
.Rectangle_45 {
    position: absolute;
    overflow: visible;
    width: 19px;
    height: 18px;
    left: 814px;
    top: 1029px;
}
#Rectangle_46 {
    opacity: 0.402;
}
.Rectangle_46 {
    position: absolute;
    overflow: visible;
    width: 19px;
    height: 18px;
    left: 782px;
    top: 1047px;
}
#Rectangle_47 {
    opacity: 0.402;
}
.Rectangle_47 {
    position: absolute;
    overflow: visible;
    width: 19px;
    height: 18px;
    left: 814px;
    top: 1000px;
}
#Line_1 {
    opacity: 0.545;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    top: 182.5px;
    left: 571.5px;
    width: 172.203px;
    height: 33.909px;
}
#Line_2 {
    opacity: 0.545;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    top: 382.5px;
    left: 471.5px;
    width: 67.878px;
    height: 340.394px;
}
#Line_3 {
    opacity: 0.545;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    top: 346.5px;
    left: 531.5px;
    width: 276.766px;
    height: 432.268px;
}
#Line_4 {
    opacity: 0.545;
}
.Line_4 {
    overflow: visible;
    position: absolute;
    top: 378.5px;
    left: 369.5px;
    width: 49.777px;
    height: 175.877px;
}
#Line_5 {
    opacity: 0.545;
}
.Line_5 {
    overflow: visible;
    position: absolute;
    top: 355.5px;
    left: 242.5px;
    width: 121.563px;
    height: 169.574px;
}
#Line_6 {
    opacity: 0.545;
}
.Line_6 {
    overflow: visible;
    position: absolute;
    top: 317.5px;
    left: 575.5px;
    width: 112.604px;
    height: 82.542px;
}
#Line_7 {
    opacity: 0.545;
}
.Line_7 {
    overflow: visible;
    position: absolute;
    top: 255.5px;
    left: 590.5px;
    width: 225.809px;
    height: 59.793px;
}
#Line_8 {
    opacity: 0.545;
}
.Line_8 {
    overflow: visible;
    position: absolute;
    top: 267.5px;
    left: 119.5px;
    width: 192.64px;
    height: 47.83px;
}
#Line_9 {
    opacity: 0.545;
}
.Line_9 {
    overflow: visible;
    position: absolute;
    top: 318.5px;
    left: 119.5px;
    width: 209.041px;
    height: 126.904px;
}
#Line_10 {
    opacity: 0.545;
}
.Line_10 {
    overflow: visible;
    position: absolute;
    top: 0.5px;
    left: 369.5px;
    width: 38.757px;
    height: 124.955px;
}
#Line_11 {
    opacity: 0.545;
}
.Line_11 {
    overflow: visible;
    position: absolute;
    top: -16.5px;
    left: 447.5px;
    width: 9px;
    height: 126.063px;
}
#Line_12 {
    opacity: 0.545;
}
.Line_12 {
    overflow: visible;
    position: absolute;
    top: -16.5px;
    left: 160.5px;
    width: 194.35px;
    height: 175.948px;
}
#Line_13 {
    opacity: 0.545;
}
.Line_13 {
    overflow: visible;
    position: absolute;
    top: 0.5px;
    left: 510.5px;
    width: 46.626px;
    height: 125.418px;
}
#Line_14 {
    opacity: 0.545;
}
.Line_14 {
    overflow: visible;
    position: absolute;
    top: 0.5px;
    left: 564.5px;
    width: 194.333px;
    height: 174.964px;
}
#Line_15 {
    opacity: 0.545;
}
.Line_15 {
    overflow: visible;
    position: absolute;
    top: 98.5px;
    left: -24.5px;
    width: 334.516px;
    height: 117.594px;
}
#Rectangle_53 {
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.133));
}
.Rectangle_53 {
    position: absolute;
    overflow: visible;
    width: 1063px;
    height: 1000px;
    left: 814px;
    top: 49px;
}
.Image_2 {
    position: absolute;
    overflow: visible;
    width: 534px;
    height: 84px;
    left: 1054px;
    top: 154px;
}
.Screen_Shot_2019_10_20_at_1_43 {
    position: absolute;
    overflow: visible;
    width: 105px;
    height: 92px;
    left: 960px;
    top: 348px;
}
.Screen_Shot_2019_10_20_at_1_44 {
    position: absolute;
    overflow: visible;
    width: 111px;
    height: 100px;
    left: 960px;
    top: 490px;
}
.Path_6 {
    overflow: visible;
    position: absolute;
    top: 440.5px;
    left: 989.5px;
    width: 659px;
    height: 2px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_17 {
    overflow: visible;
    position: absolute;
    top: 590.5px;
    left: 977.5px;
    width: 659.006px;
    height: 4px;
}
.Rectangle_54 {
    position: absolute;
    overflow: visible;
    width: 36px;
    height: 40px;
    left: 998px;
    top: 642px;
}
#_remember_me {
    position: absolute;
    left: 1054px;
    top: 642px;
    overflow: visible;
    width: 277px;
    white-space: nowrap;
    text-align: center;
    font-family: Al Bayan;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(97,111,255,1);
}
.Rectangle_55 {
    position: absolute;
    overflow: visible;
    width: 249px;
    height: 85px;
    left: 1206px;
    top: 735px;
}
#Log_In {
    position: absolute;
    left: 1262px;
    top: 735px;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: center;
    font-family: Chalkboard SE;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(54,63,145,1);
}
#Register {
    position: absolute;
    left: 1045px;
    top: 867px;
    overflow: visible;
    width: 199px;
    white-space: nowrap;
    text-align: center;
    font-family: Al Bayan;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(97,111,255,1);
}
#Lost_your_password_ {
    position: absolute;
    left: 1288px;
    top: 865px;
    overflow: visible;
    width: 483px;
    white-space: nowrap;
    text-align: center;
    font-family: Al Bayan;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(97,111,255,1);
}
.Line_18 {
    overflow: visible;
    position: absolute;
    top: 853.5px;
    left: 1265.5px;
    width: 3px;
    height: 73.027px;
}
#username{
    position:absolute;
    overflow:visible;
    top: 348px;
    left: 1065px;
    width: 580px;
    height: 92px;
    font-family: 'Nunito', sans-serif;
    font-size:50px;
    border:none;
    color:black;
}
#password{
    position:absolute;
    overflow:visible;
    top:490px;
    left:1071px;
    width:580px;
    height:92px;
    font-family: 'Nunito', sans-serif;
    font-size:50px;
    border:none;
    color:black;
}
#loginBtn{
    position:absolute;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    background: #EAF8F7 0% 0% no-repeat padding-box;
    top: 735px;
    left: 1206px;
    width: 249px;
    height: 85px;
    font-family: 'Nunito', sans-serif;
    font-size:50px;
}
#message{
    font-family: 'Nunito', sans-serif;
    font-size:50px;
    position:absolute;
    border: 1px solid #707070;
    background:white;
    opacity:0.9;
    width: 960px;
    height: 540px;
    top:270px;
    left:480px;
    border-radius:10px;
    text-align:center;
    color:red;
}
